<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - {% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2018/05/08/21/28/airbnb-3384008_960_720.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
       <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# inclution du header #}
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {# inclution du footer #}
        {% include 'partials/footer.html.twig' %}

         <script src="/js/jquery.js"></script> <!--permet de lire le carousel-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
